# Traffic Demand Modeling Result - Walking & Biking Trips

In [1]:
#Set up enviroment and Import library

import pandas as pd
import numpy as np
import glob
import os

In [2]:
Trips_Daily_2020 = pd.read_csv('C:/Users/YangL1/AECOM/60684831 - MoKan CAV Corridor Study - General/400_Technical/411 Traffic/CAMPO/OD Tables/Bike & Walk Trip Table/2020/Nonmotorized_Trips_Daily_2020.csv')
Trips_Daily_2045_NB = pd.read_csv('C:/Users/YangL1/AECOM/60684831 - MoKan CAV Corridor Study - General/400_Technical/411 Traffic/CAMPO/OD Tables/Bike & Walk Trip Table/2045_NoBuild/Nonmotorized_Trips_Daily_2045_NoBuild.csv')

In [4]:
Trips_Daily_2020.columns =['Origin', 'Destination', 'Walking_Trips','Biking_Trips']
Trips_Daily_2045_NB.columns =['Origin', 'Destination', 'Walking_Trips','Biking_Trips']

In [7]:
#Trips_Daily_2020.head()

Trips_Daily_2020.head()

   Origin  Destination  Walking_Trips  Biking_Trips
0       1            2       0.060964      0.204944
1       1            3       5.654049      1.121871
2       1            4       0.000066      0.038316
3       1            5       0.035260      0.184347
4       1            6       0.000000      0.008435

In [8]:
origin_sum_2020 = Trips_Daily_2020.groupby(['Origin']).sum().drop(['Destination'], axis=1)
origin_sum_2020.columns =['Walking_OTrips', 'Biking_OTrips']
origin_sum_2020.to_csv('C:/Users/YangL1/OneDrive - AECOM/Desktop/Local Project Folder/MoKan CAV Corridor/OD_data_analysis/origin_sum_2020.csv')

In [9]:
origin_sum_2045_NB = Trips_Daily_2045_NB.groupby(['Origin']).sum().drop(['Destination'], axis=1)
origin_sum_2045_NB.columns =['Walking_OTrips', 'Biking_OTrips']
origin_sum_2045_NB.to_csv('C:/Users/YangL1/OneDrive - AECOM/Desktop/Local Project Folder/MoKan CAV Corridor/OD_data_analysis/origin_sum_2045_NB.csv')

In [10]:
dest_sum_2020 = Trips_Daily_2020.groupby(['Destination']).sum().drop(['Origin'], axis=1)
dest_sum_2020.columns =['Walking_DTrips', 'Biking_DTrips']
dest_sum_2020.to_csv('C:/Users/YangL1/OneDrive - AECOM/Desktop/Local Project Folder/MoKan CAV Corridor/OD_data_analysis/dest_sum_2020.csv')

In [11]:
dest_sum_2045_NB = Trips_Daily_2045_NB.groupby(['Destination']).sum().drop(['Origin'], axis=1)
dest_sum_2045_NB.columns =['Walking_DTrips', 'Biking_DTrips']
dest_sum_2045_NB.to_csv('C:/Users/YangL1/OneDrive - AECOM/Desktop/Local Project Folder/MoKan CAV Corridor/OD_data_analysis/dest_sum_2045_NB.csv')

In [12]:
dest_sum_2045_NB.head()

             Walking_DTrips  Biking_DTrips
Destination
1                254.375884      47.334063
2                255.649570      60.574461
3                350.909058      70.224621
4                486.367211      15.757398
5                 49.620504      44.716730